@keyframes bounceInLeft
  from,
  60%,
  75%,
  90%,
  to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  0%
    opacity: 0
    -webkit-transform: translate3d(-3000px, 0, 0)
    transform: translate3d(-3000px, 0, 0)
  60%
    opacity: 1
    -webkit-transform: translate3d(25px, 0, 0)
    transform: translate3d(25px, 0, 0)
  75%
    -webkit-transform: translate3d(-10px, 0, 0)
    transform: translate3d(-10px, 0, 0)
  90%
    -webkit-transform: translate3d(5px, 0, 0)
    transform: translate3d(5px, 0, 0)
  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@keyframes bounceInRight 
  from,
  60%,
  75%,
  90%,
  to
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  from
    opacity: 0
    -webkit-transform: translate3d(3000px, 0, 0)
    transform: translate3d(3000px, 0, 0)
  60%
    opacity: 1
    -webkit-transform: translate3d(-25px, 0, 0)
    transform: translate3d(-25px, 0, 0)
  75%
    -webkit-transform: translate3d(10px, 0, 0)
    transform: translate3d(10px, 0, 0)
  90%
    -webkit-transform: translate3d(-5px, 0, 0)
    transform: translate3d(-5px, 0, 0)
  to
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@keyframes zoomIn
  from
    opacity: 0
    -webkit-transform: scale3d(0.3, 0.3, 0.3)
    transform: scale3d(0.3, 0.3, 0.3)
  50%
    opacity: 1

.zoomIn
  -webkit-animation-name: zoomIn
  animation-name: zoomIn

.bounceInLeft
  -webkit-animation-name: bounceInLeft
  animation-name: bounceInLeft

.bounceInRight
  -webkit-animation-name: bounceInRight
  animation-name: bounceInRight

.center
  padding: 0 calc(50% - 140px)

.header
  position: relative
  height: 100vh
  padding-top: 30px
  background-image: url("img/header_img.jpeg")
  background-size: cover
  background-position: 82%
  background-repeat: no-repeat
  &__top
    display: flex
    justify-content: space-between
  &__open,
  &__close
    color: #fff
    font-size: 30px
    display: block
  &__close
    right: 30px
    top: 30px
    position: absolute
  &__switcher
    visibility: hidden
    position: absolute
    left: -999999px
    &:checked ~ nav
      right: 0
  &__logo
    transition: all 1.5s
    &:hover
      transform: scale(1.4) rotateX(360deg)

.header__close_bot
  color: #000
.header__open_bot
  color: #000

.logo
  width: 100px
  height: 29px

.menu
  list-style: none
  &__link
    transition: all 1s
    &:hover
      transform: scale(1.2)
      background: linear-gradient(90deg, rgba(0,141,205,1) 0%, rgba(0,104,255,0.3) 100%)

  &__link
    color: #fff
    font-size: 24px
    padding: 16px 5px
    display: block
  &__logo
    height: 48px
    width: 160px

.send-box
  position: absolute
  top: 105%
  animation: zoomIn 1s linear both
  &__h2
    font-size: 32px
    line-height: 38px
    transition: all 1s
    &:hover
      transform: scale(1.05)
  &__h3
    font-size: 24px
    transition: all 1s
    &:hover
      transform: scale(1.05)
.button
  width: 280px
  height: 50px
  background: #008DCD
  border-radius: 30px
  align-items: center
  text-align: center
  text-transform: uppercase
  font-size: 16px
  color: #FFFFFF
  border: 1px solid #008DCD
  transition: all 0.7s
  cursor: pointer
  &:hover
    transform: scale(1.1)
    box-shadow: 0 4px 10px rgba(27, 170, 235, 0.65)


.aggregator
  background: #F7F7F7
  display: flex
  flex-direction: column
  &__img
    transition: all 1s
    &:hover
      transform: scale(1.05)

.content
  &__h3
    transition: all 1s
    &:hover
      transform: scale(1.05)
  &__text
    transition: all 1s
    &:hover
      transform: scale(1.05)

.steps
  padding-top: 25px
  padding-bottom: 55px
  &__container
    display: flex
    flex-direction: column
    justify-content: space-between

.container_block
  margin-top: 30px
  transition: all 1s
  &:hover
    transform: scale(1.05)

.block
  &__img
    width: 276px

.steps__text
  &-h3
    font-size: 26px
    font-weight: 700
    margin-top: 20px
    margin-bottom: 8px
  &-text
    font-size: 14px
    line-height: 17px

.care
  padding-top: 23px
  padding-bottom: 23px
  background: #F7F7F7
  &__h3
    transition: all 1s
    &:hover
      transform: scale(1.15) rotateX(360deg)
      color: #008DCD

.call-back
  background: #008DCD
  color: #FFFFFF
  position: relative
  &__h2
    text-transform: uppercase
    transition: all 1s
    &:hover
      transform: scale(1.1)
  &__text
    transition: all 1s
    &:hover
      transform: scale(1.1)
  &__phone
    height: 48px
    border: 1px solid #FFFFFF
    border-radius: 30px
    background: #008DCD
    padding-left: 15px
    padding-right: 15px
    color: #FFFFFF
    font-size: 18px
    transition: all 1s
    &:hover
      transform: scale(1.1)
    &::placeholder
      font-size: 16px
      color: #FFFFFF
      padding-left: 10px

.call-back__form
  position: relative
  & input[type="checkbox"]
    position: absolute
    width: 10px
    border-color: #FFFFFF
    top: 106%
    left: 0
  & label
    position: absolute
    top: 106%
    left: 7%
    font-size: 10px
    line-height: 12px

.button__call-back
  height: 48px
  border: 1px solid #FFCC00
  background: #FFCC00
  border-radius: 30px
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  text-align: right
  padding-right: 25px
  margin-top: 10px
  transition: all 1s
  &:hover
    transform: scale(1.1)
    box-shadow: 0 4px 10px rgb(241, 255, 29)
    color: #008DCD

.feedback
  display: flex
  flex-direction: column
  padding-top: 25px
  padding-bottom: 25px
  &__h2
    transition: all 1s
    &:hover
      transform: scale(1.2) rotateX(360deg) translateX(65px)
      color: #008DCD
  &__slider
    position: relative

.slider
  &__top
    display: flex
    flex-direction: row
    transition: all 2s
    &:hover
      transform: scale(1.2)

.arrow
  &__left
    position: absolute
    top: 50%
    left: 0
  &__right
    position: absolute
    top: 50%
    right: 0

.advantages
  background: #F7F7F7
  &__h2
    transition: all 1s
    &:hover
      transform: scale(1.2) rotateX(360deg) translateX(65px)
      color: #008DCD
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__block
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background: #FFFFFF

  .container__block
    text-align: center
    transition: all 2s
    &:hover
      transform: scale(1.25)
      color: #008DCD

.guarantee
  &__h1
    transition: all 1s
    &:hover
      transform: scale(1.2) rotateX(360deg) translateX(65px)
      color: #008DCD
  &__main
    display: flex
  &__img
    width: 50%
    transition: all 1s
    &:hover
      transform: scale(1.5) rotateX(360deg)
  &__h3
    transition: all 1s
    &:hover
      transform: scale(1.2)

.guarantee__circle
    width: 62px
    height: 62px
    border-radius: 50%
    background: #F7F7F7

.doubts
  display: flex
  flex-direction: column
  justify-content: space-between
  background: #D2ECF7
  &__h2
    transition: all 1s
    &:hover
      transform: scale(1.2) rotateX(360deg) translateX(65px)
      color: #008DCD
  &__block
    background: #FFFFFF
    border-radius: 32px
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    transition: all 1s
    &:hover
      transform: scale(1.05)
  &__main
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-between
  &__content
    display: flex
    justify-content: space-between
    align-items: center
  &___img
    width: 10px

.logistics
  &__img
    transition: all 1s
    &:hover
      transform: scale(1.5) rotateY(360deg)
      color: #008DCD
  &__block
    position: relative
    display: flex
    justify-content: space-between
    flex-wrap: wrap


.footer
  &__h2
    transition: all 1s
    &:hover
      transform: scale(1.2) rotateX(360deg)
      color: #008DCD
  display: flex
  background: #E9E9E9
  border-bottom: 1px solid #C4C4C4
  &__form
    position: relative
  &__phone
    border-radius: 30px
    border: 1px solid #363636
    height: 48px
    padding: 0 25px
    font-size: 16px
    background: #E9E9E9
    transition: all 0.7s
    &:hover
      transform: scale(1.1)
      color: #008DCD
    &::placeholder
      color: #363636
      font-size: 14px

.footer_nav
  background: #E9E9E9

.menu__footer
  & a
    color: #000000

.header__bot
  display: flex
  align-items: center

.copy
  background: #E9E9E9


@import "media"
