.center
  padding: 0 calc(50% - 140px)

.header
  height: 100vh
  padding-top: 30px
  background-image: url("img/header_img.jpeg")
  background-size: cover
  background-position: 82%
  background-repeat: no-repeat
  &__top
    display: flex
    justify-content: space-between

.header
  position: relative
  &__open,
  &__close
    color: #fff
    font-size: 20px
    display: block
  &__close
    right: 30px
    top: 30px
    position: absolute
  &__switcher
    visibility: hidden
    position: absolute
    left: -999999px
    &:checked ~ nav
      right: 0

.logo
  width: 100px
  height: 29px

.menu
  list-style: none
  &__link
    color: #fff
    font-size: 24px
    padding: 32px 16px
    display: block

.send-box
  position: absolute
  top: 105%
  &__h2
    font-size: 32px
    line-height: 38px
  &__h3
    font-size: 24px
.button
  width: 280px
  height: 50px
  background: #008DCD
  border-radius: 30px
  align-items: center
  text-align: center
  text-transform: uppercase
  font-size: 16px
  color: #FFFFFF
  border: 1px solid #008DCD
.aggregator
  background: #F7F7F7
  display: flex
  flex-direction: column

.steps
  padding-top: 25px
  padding-bottom: 55px
  &__container
    display: flex
    flex-direction: column
    justify-content: space-between

.container_block
  margin-top: 30px

.block
  &__img
    width: 276px

.steps__text
  &-h3
    font-size: 26px
    font-weight: 700
    margin-top: 20px
    margin-bottom: 8px
  &-text
    font-size: 14px
    line-height: 17px

.care
  padding-top: 23px
  padding-bottom: 23px
  background: #F7F7F7

.call-back
  background: #008DCD
  color: #FFFFFF
  position: relative
  &__h2
    text-transform: uppercase
  &__phone
    height: 48px
    border: 1px solid #FFFFFF
    border-radius: 30px
    background: #008DCD
    padding-left: 15px
    padding-right: 15px
    color: #FFFFFF
    font-size: 18px
    &::placeholder
      font-size: 16px
      color: #FFFFFF
      padding-left: 10px

.call-back__form
  position: relative
  & input[type="checkbox"]
    position: absolute
    width: 10px
    border-color: #FFFFFF
    top: 106%
    left: 0
  & label
    position: absolute
    top: 106%
    left: 7%
    font-size: 10px
    line-height: 12px

.button__call-back
  height: 48px
  border: 1px solid #FFCC00
  background: #FFCC00
  border-radius: 30px
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  text-align: right
  padding-right: 25px
  margin-top: 10px

.feedback
  display: flex
  flex-direction: column
  padding-top: 25px
  padding-bottom: 25px
  &__slider
    position: relative

.slider
  &__top
    display: flex
    flex-direction: row

.arrow
  &__left
    position: absolute
    top: 50%
    left: 0
  &__right
    position: absolute
    top: 50%
    right: 0

.advantages
  background: #F7F7F7
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__block
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background: #FFFFFF

  .container__block
    text-align: center

.guarantee
  &__main
    display: flex
  &__img
    width: 50%

.guarantee__circle
    width: 62px
    height: 62px
    border-radius: 50%
    background: #F7F7F7

.doubts
  display: flex
  flex-direction: column
  justify-content: space-between
  background: #D2ECF7
  &__block
    background: #FFFFFF
    border-radius: 32px
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__main
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-between
  &__content
    display: flex
    justify-content: space-between
    align-items: center
  &___img
    width: 10px

.logistics
  &__block
    position: relative
    display: flex
    justify-content: space-between
    flex-wrap: wrap


.footer
  display: flex
  background: #E9E9E9
  border-bottom: 1px solid #C4C4C4
  &__form
    position: relative
  &__phone
    border-radius: 30px
    border: 1px solid #363636
    height: 48px
    padding: 0 25px
    font-size: 16px
    background: #E9E9E9
    &::placeholder
      color: #363636
      font-size: 14px

@import "media"
