@media (min-width: 320px) and (max-width: 767px)
  .header
    margin-bottom: 250px

  .menu
    padding: 15px 25px
    height: 100vh
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    background: #FFFFFF
    &__link
      color: black
    &__social
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 20px

  .social__link
    width: 36px
    height: 36px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    font-size: 20px
    color: #FFFFFF
    background: #008DCD
    text-decoration: none

  .nav
    position: fixed
    right: -100%
    top: 0
    transition: all 0.5s
    width: 100%
    height: 100vh
    z-index: 2

  .footer_menu
    background: #FFFFFF
    border-bottom: none

  .button
    padding-right: 25px
    text-align: right

  .send-box
    position: absolute
    top: 105%
    min-height: 200px
    display: flex
    flex-direction: column
    justify-content: space-around
    &__h2
      font-size: 32px
      line-height: 38px
      width: 280px
    &__h3
      font-size: 24px

  .aggregator
    background: #F7F7F7
    display: flex
    flex-direction: column
    padding-top: 22px
    padding-bottom: 27px
    &__img
      height: 131px

  .content
    &__h3
      font-size: 18px
      margin-top: 25px
      margin-bottom: 10px
    &__text
      font-size: 12px
      line-height: 14px
      margin-bottom: 15px

  .steps
    padding-bottom: 25px

  .container_block
    margin-top: 30px

  .block
    &__img
      width: 276px

  .steps__text
    &-h3
      font-size: 26px
      font-weight: 700
      margin-top: 20px
      margin-bottom: 8px
    &-p
      font-size: 14px
      line-height: 17px
  .care
    &__h3
      font-size: 22px
      line-height: 29px
      font-weight: 700
      margin-bottom: 13px

  .call-back
    padding-top: 32px
    padding-bottom: 32px
    &__h2
      font-size: 28px
      line-height: 34px
      text-transform: uppercase
      margin-bottom: 15px
    &__text
      font-size: 14px
      line-height: 15px
      margin-bottom: 15px
    &__phone
      width: 248px
      padding-left: 15px
      padding-right: 15px
      font-size: 18px
      &::placeholder
        font-size: 16px
        padding-left: 10px

  .button__call-back
    width: 280px
    height: 48px
    font-size: 16px
    text-align: right
    padding-right: 25px
    margin-top: 10px

  .feedback
    &__h2
      font-size: 28px
      width: 140px
      transition: all 1s
      &:hover
        transform: scale(1.2) translateX(20px)
    &__slider
      padding-right: 25px
      padding-left: 25px

  .slider
    &__hidden
      display: none
    &__top
      margin: 15px 0
      display: flex
      justify-content: space-between
    &__header
      width: 110px
    &__img
      width: 100px
      height: 100px
    &__header
      width: 110px
      &_name
        font-size: 26px
        margin-bottom: 3px
      &_type
        font-size: 18px
        line-height: 26px
      &_option
        font-size: 10px
        line-height: 15px
    &__text
      font-size: 13px
      line-height: 17px

  .advantages
    padding-top: 25px
    padding-bottom: 25px
    &__h2
      font-size: 26px
      transition: all 1s
      &:hover
        transform: scale(1.2) translateX(20px)
    &__block
      width: 86px
      height: 86px
      margin-top: 25px
    &__p
      margin-top: 8px
      font-size: 10px
      line-height: 12px

  .container__block
    width: 86px

  .guarantee
    padding-top: 25px
    padding-bottom: 25px
    &__h1
      font-size: 26px
      transition: all 1s
      &:hover
        transform: scale(1.2) translateX(20px)
    &__main
      position: relative
      padding-right: 20px
      padding-left: 20px
      display: flex
      flex-direction: column
    &__block
      margin-top: 20px
    &__header
      display: flex
      justify-content: space-between
    &__img
      width: 50%
    &__circle
      width: 62px
      height: 62px
      border-radius: 50%
      background: #F7F7F7
      display: flex
      align-items: center
      justify-content: center
    &__h3
      display: flex
      align-items: center
      width: 160px
      font-size: 16px
    &__text
      margin-top: 15px
      margin-bottom: 15px
      font-size: 12px
      line-height: 16px
      transform: none

  .button_short
    width: 230px

  .doubts
    padding-top: 25px
    padding-bottom: 25px
    &__h2
      margin-bottom: 10px
      font-size: 26px
      line-height: 34px
      text-transform: uppercase
      transition: all 1s
      &:hover
        transform: scale(1.2) translateX(25px)
        color: #008DCD
    &__main
      height: 530px
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: space-between
    &__block
      padding: 0 25px
      width: 230px
      height: 80px
    &__text
      width: 210px
      font-size: 14px
      line-height: 18px

  .logistics
    padding-top: 5px
    padding-bottom: 20px
    &__block
      padding: 0 20px
    &__img
      margin-top: 15px
      width: 66px

  .footer
    padding-top: 15px
    padding-bottom: 45px
    min-height: 180px
    flex-direction: column
    justify-content: space-between
    &__form
      display: flex
      flex-direction: column
      justify-content: space-between
      min-height: 110px
      margin-bottom: 30px
      & input[type="checkbox"]
        position: absolute
        top: 110%
      & label
        position: absolute
        font-size: 10px
        color: #9E9E9E
        top: 110%
        left: 8%
    &__h2
      font-size: 18px
      line-height: 22px
      &_menu
        margin-bottom: 15px
    &__phone
      width: 228px
    & .button
      padding-right: 0
      text-align: center


  .footer_nav
    padding-top: 15px
    padding-bottom: 15px
    border-bottom: 1px solid #C4C4C4

  .logo__footer
    width: 140px
    height: 57px

  .menu__link_bot
    padding: 0

  .copy
    padding-top: 15px
    padding-bottom: 15px
    font-size: 10px
    font-weight: 700

@media (min-width: 768px)
  .center
    padding: 0 calc(50% - 350px)
  .header
    padding-top: 30px
    &__switcher,
    &__open,
    &__close
      display: none

  .nav
    right: 0

  .menu
    display: flex
    flex-direction: row
    justify-content: space-between
    animation: bounceInRight 2s linear both
    &__link
      font-size: 14px
      line-height: 17px
      padding: 8px 14px
      &_bot
        color: black

  .logo
    animation: bounceInLeft 2s linear both

  .menu__logo
    display: none

  .footer_menu
    display: none

  .send-box
    width: 400px
    min-height: 230px
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    top: 0
    margin-top: 55px
    color: #FFFFFF
    &__h2
      font-size: 44px
      line-height: 53px
    &__h3
      font-size: 28px

  .aggregator
    position: relative
    display: flex
    flex-direction: row-reverse
    align-items: flex-end
    justify-content: space-between
    padding-top: 25px
    padding-bottom: 35px
    &__img
      width: 380px
      height: 195px
    &__content
      width: 280px

  .content
    &__h3
      font-size: 34px
      margin-top: 0
      margin-bottom: 20px
      width: 800px
    &__text
      font-size: 14px
      line-height: 17px
      margin-bottom: 25px

  .button
    width: 280px
    text-align: right
    padding-right: 25px

  .steps
    padding-bottom: 55px
    &__container
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      padding: 0 40px

  .container_block
    width: 282px
    margin-top: 45px

  .block
    &__img
      width: 281px

  .steps__text
    &-h3
      font-size: 26px
      font-weight: 700
      margin-top: 25px
      margin-bottom: 15px
    &-p
      font-size: 15px
      line-height: 19px
  .care
    padding-top: 30px
    padding-bottom: 30px
    display: flex
    justify-content: space-between
    align-items: center
    &__h3
      font-size: 28px
      line-height: 34px
      font-weight: 700
      margin-bottom: 0
  .call-back
    display: flex
    justify-content: space-between
    padding-top: 32px
    padding-bottom: 35px
    &__form
      width: 280px
    &__header
      width: 300px
      display: flex
      flex-direction: column
      justify-content: space-between
    &__h2
      font-size: 28px
      line-height: 34px
    &__text
      font-size: 14px
      line-height: 15px
      margin-bottom: 0
    &__phone
      width: 248px
      padding-left: 15px
      padding-right: 15px
      font-size: 18px
      &::placeholder
        font-size: 16px
        padding-left: 10px

  .call-back__form
    & input[type="checkbox"]
      top: 107%
      left: 0
    & label
      position: absolute
      top: 107%
      left: 7%

  .button__call-back
    width: 280px
    padding-right: 25px
    text-align: right

  .feedback
    padding-top: 50px
    padding-bottom: 50px
    &__hidden
      display: block
    &__h2
      font-size: 36px
    &__slider
      display: flex
      justify-content: space-between
      padding-left: 60px
      padding-right: 60px

  .slider
    width: 280px
    &__top
      margin: 30px 0 15px 0
      display: flex
      justify-content: space-between
    &__header
      width: 110px
    &__img
      width: 100px
      height: 100px
    &__header
      width: 160px
      &_name
        font-size: 26px
        margin-bottom: 3px
      &_type
        font-size: 18px
        line-height: 26px
      &_option
        font-size: 10px
        line-height: 15px
    &__text
      font-size: 13px
      line-height: 17px

  .advantages
    padding-top: 40px
    padding-bottom: 40px
    &__h2
      font-size: 34px
    &__block
      width: 100px
      height: 100px
      margin-top: 35px
    &__p
      margin-top: 15px
      font-size: 12px
      line-height: 14px
    &__img
      width: 50%

  .container__block
    width: 100px

  .guarantee
    padding-top: 45px
    padding-bottom: 45px
    &__h1
      font-size: 36px
    &__main
      position: relative
      display: flex
      flex-direction: row
      justify-content: space-between
    &__block
      display: flex
      flex-direction: column
      justify-content: space-between
      margin-top: 20px
      width: 218px
    &__header
      display: flex
      flex-direction: column
      justify-content: space-between
    &__img
      width: 50%
    &__circle
      width: 100px
      height: 100px
      border-radius: 50%
      background: #F7F7F7
      display: flex
      align-items: center
      justify-content: center
    &__h3
      display: flex
      align-items: center
      font-size: 18px
      margin-top: 20px
    &__text
      margin-top: 10px
      margin-bottom: 15px
      font-size: 12px
      line-height: 16px

  .button_short
    width: 220px

  .doubts
    padding-top: 40px
    padding-bottom: 40px
    &__h2
      margin-bottom: 25px
      font-size: 34px
      line-height: 34px
      text-transform: uppercase
      transition: all 1s
      &:hover
        transform: scale(1.2) rotateX(360deg) translateX(65px)
        color: #008DCD
    &__main
      height: 350px
    &__block
      padding: 0 30px
      width: 640px
      height: 50px
    &__text
      width: 625px
      font-size: 16px

  .logistics
    padding-top: 30px
    padding-bottom: 30px
    &__block
      padding: 0 40px
    &__img
      margin-top: 0
      width: 66px
    &__hidden
      display: none

  .arrow
    &__left
      display: block
      top: 33%
    &__right
      display: block
      top: 33%
    &__hidden
      display: none
  .footer
    padding-top: 30px
    padding-bottom: 30px
    min-height: 0
    flex-direction: row
    justify-content: space-between
    align-items: center
    &__form
      display: flex
      flex-direction: row
      justify-content: space-between
      min-height: 0
      margin-bottom: 0
      & input[type="checkbox"]
        position: absolute
        top: 113%
      & label
        position: absolute
        font-size: 10px
        color: #9E9E9E
        top: 113%
        left: 4%
    &__h2
      font-size: 19px
      line-height: 20px
    &__phone
      width: 168px
    & .button
      padding-right: 0
      text-align: center
      width: 220px
      margin-left: 15px

  .footer_nav
    padding-top: 20px
    padding-bottom: 30px
    border-bottom: 1px solid #C4C4C4

  .header__bot
    display: flex
    align-items: center
    justify-content: space-between

  .logo__footer
    width: 100px
    height: 30px

  .menu__link_bot
    padding: 7px 11px

  .copy
    padding-top: 15px
    padding-bottom: 15px
    font-size: 12px
    font-weight: 700

@media (min-width: 1440px)
  .center
    padding: 0 calc(50% - 580px)

  .button
      width: 360px
      padding-right: 0
      text-align: center

  .header
    padding-top: 30px
    margin-bottom: 0

  .nav
    right: 0

  .logo
    width: 160px
    height: 46px
    animation: bounceInLeft 2s linear both

  .menu__logo
    display: none

  .menu
    display: flex
    flex-direction: row
    justify-content: space-between
    animation: bounceInRight 2s linear both
    &__link
      font-size: 18px
      padding: 15px 30px
      &_bot
        color: black

  .footer_menu
    display: none

  .send-box
    width: 800px
    min-height: 300px
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    top: 0
    margin-top: 88px
    color: #FFFFFF
    &__h2
      font-size: 48px
      line-height: 58px
    &__h3
      font-size: 36px

  .aggregator
    position: relative
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between
    padding-top: 90px
    padding-bottom: 70px
    &__img
      width: 660px
      height: 340px
    &__content
      width: 440px

  .content
    &__h3
      font-size: 36px
      margin-top: 0
      margin-bottom: 35px
      width: 460px
    &__text
      font-size: 15px
      line-height: 19px
      margin-bottom: 35px

  .steps
    padding-bottom: 70px
    &__container
      padding: 0 50px

  .container_block
    width: 462px
    margin-top: 70px

  .block
    &__img
      width: 462px

  .steps__text
    &-h3
      font-size: 30px
      font-weight: 700
      margin-top: 40px
      margin-bottom: 15px
    &-p
      font-size: 19px
      line-height: 24px

  .care
    padding-top: 70px
    padding-bottom: 70px
    &__h3
      font-size: 34px
      font-weight: 700
      margin-bottom: 0
  .call-back
    padding-top: 75px
    padding-bottom: 75px
    &__form
      width: 360px
    &__header
      width: 735px
    &__h2
      font-size: 44px
    &__text
      font-size: 23px
      line-height: 25px
      margin-bottom: 0
    &__phone
      width: 328px
      padding-left: 15px
      padding-right: 15px
      font-size: 18px
      &::placeholder
        font-size: 16px
        padding-left: 10px

  .call-back__form
    & input[type="checkbox"]
      top: 115%
      left: 0
    & label
      position: absolute
      top: 115%
      left: 8%

  .button__call-back
    width: 360px
    padding-right: 0
    text-align: center

  .feedback
    padding-top: 70px
    padding-bottom: 70px
    &__hidden
      display: block
    &__h2
      font-size: 36px
    &__slider
      display: flex
      justify-content: space-between
      padding-left: 100px
      padding-right: 100px

  .slider
    width: 460px
    &__top
      width: 460px
      margin: 50px 0 25px 0
      display: flex
      justify-content: space-between
    &__img
      width: 160px
      height: 160px
    &__header
      width: 260px
      &_name
        font-size: 36px
        margin-bottom: 0
      &_type
        font-size: 24px
        line-height: 42px
      &_option
        font-size: 16px
        line-height: 27px
    &__text
      font-size: 16px
      line-height: 20px

  .arrow
    &__left
      height: 30px
    &__right
      height: 30px

  .advantages
    padding-top: 100px
    padding-bottom: 100px
    &__h2
      font-size: 36px
    &__block
      width: 160px
      height: 160px
      margin-top: 35px
    &__p
      margin-top: 35px
      font-size: 17px
      line-height: 22px
    &__img
      width: 45%

  .container__block
    width: 160px

  .guarantee
    padding-top: 100px
    padding-bottom: 100px
    &__block
      display: flex
      flex-direction: column
      justify-content: space-between
      margin-top: 30px
      width: 360px
    &__circle
      width: 160px
      height: 160px
    &__h3
      font-size: 30px
      margin-top: 30px
    &__text
      margin-top: 15px
      margin-bottom: 26px
      font-size: 16px
      line-height: 20px

  .button_short
    width: 360px

  .arrow__hidden
    display: none

  .doubts
    padding-top: 65px
    padding-bottom: 65px
    &__h2
      margin-bottom: 30px
      font-size: 34px
      line-height: 34px
      text-transform: uppercase
      transition: all 1s
      &:hover
        transform: scale(1.2) rotateX(360deg) translateX(65px)
        color: #008DCD
    &__main
      height: 230px
    &__block
      padding: 0 30px
      width: 500px
      height: 64px
    &__text
      width: 480px
      font-size: 16px

  .logistics
    padding-top: 60px
    padding-bottom: 60px
    &__block
      padding: 0 75px
    &__img
      width: 94px

  .arrow
    &__left
      top: 40%
      height: 20px
    &__right
      top: 40%
      height: 20px

  .footer
    padding-top: 40px
    padding-bottom: 40px
    &__phone
      padding: 0 30px
      font-size: 18px
    &__form
      & label
        left: 2.5%
    &__h2
      font-size: 28px
      line-height: 28px
    &__phone
      width: 298px
    & .button
      padding-right: 0
      text-align: center
      width: 360px
      margin-left: 15px

  .footer_nav
    padding-top: 20px
    padding-bottom: 20px
    border-bottom: 1px solid #C4C4C4

  .logo__footer
      width: 160px
      height: 48px

  .copy
    padding-top: 20px
    padding-bottom: 20px
    font-size: 16px
    font-weight: 700
