* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "PT Sans", sans-serif;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.center {
  padding: 0 calc(50% - 140px);
}

.header {
  position: relative;
  height: 100vh;
  padding-top: 30px;
  background-image: url("img/header_img.jpeg");
  background-size: cover;
  background-position: 82%;
  background-repeat: no-repeat;
}
.header__top {
  display: flex;
  justify-content: space-between;
}
.header__open, .header__close {
  color: #fff;
  font-size: 30px;
  display: block;
}
.header__close {
  right: 30px;
  top: 30px;
  position: absolute;
}
.header__switcher {
  visibility: hidden;
  position: absolute;
  left: -999999px;
}
.header__switcher:checked ~ nav {
  right: 0;
}
.header__logo {
  transition: all 1.5s;
}
.header__logo:hover {
  transform: scale(1.4) rotateX(360deg);
}

.header__close_bot {
  color: #000;
}

.header__open_bot {
  color: #000;
}

.logo {
  width: 100px;
  height: 29px;
}

.menu {
  list-style: none;
}
.menu__link {
  transition: all 1s;
}
.menu__link:hover {
  transform: scale(1.2);
  background: linear-gradient(90deg, #008dcd 0%, rgba(0, 104, 255, 0.3) 100%);
}
.menu__link {
  color: #fff;
  font-size: 24px;
  padding: 16px 5px;
  display: block;
}
.menu__logo {
  height: 48px;
  width: 160px;
}

.send-box {
  position: absolute;
  top: 105%;
  animation: zoomIn 1s linear both;
}
.send-box__h2 {
  font-size: 32px;
  line-height: 38px;
  transition: all 1s;
}
.send-box__h2:hover {
  transform: scale(1.05);
}
.send-box__h3 {
  font-size: 24px;
  transition: all 1s;
}
.send-box__h3:hover {
  transform: scale(1.05);
}

.button {
  width: 280px;
  height: 50px;
  background: #008DCD;
  border-radius: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #FFFFFF;
  border: 1px solid #008DCD;
  transition: all 0.7s;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(27, 170, 235, 0.65);
}

.aggregator {
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
}
.aggregator__img {
  transition: all 1s;
}
.aggregator__img:hover {
  transform: scale(1.05);
}

.content__h3 {
  transition: all 1s;
}
.content__h3:hover {
  transform: scale(1.05);
}
.content__text {
  transition: all 1s;
}
.content__text:hover {
  transform: scale(1.05);
}

.steps {
  padding-top: 25px;
  padding-bottom: 55px;
}
.steps__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_block {
  margin-top: 30px;
  transition: all 1s;
}
.container_block:hover {
  transform: scale(1.05);
}

.block__img {
  width: 276px;
}

.steps__text-h3 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 8px;
}
.steps__text-text {
  font-size: 14px;
  line-height: 17px;
}

.care {
  padding-top: 23px;
  padding-bottom: 23px;
  background: #F7F7F7;
}
.care__h3 {
  transition: all 1s;
}
.care__h3:hover {
  transform: scale(1.15) rotateX(360deg);
  color: #008DCD;
}

.call-back {
  background: #008DCD;
  color: #FFFFFF;
  position: relative;
}
.call-back__h2 {
  text-transform: uppercase;
  transition: all 1s;
}
.call-back__h2:hover {
  transform: scale(1.1);
}
.call-back__text {
  transition: all 1s;
}
.call-back__text:hover {
  transform: scale(1.1);
}
.call-back__phone {
  height: 48px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  background: #008DCD;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFFFFF;
  font-size: 18px;
  transition: all 1s;
}
.call-back__phone:hover {
  transform: scale(1.1);
}
.call-back__phone::placeholder {
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 10px;
}

.call-back__form {
  position: relative;
}
.call-back__form input[type=checkbox] {
  position: absolute;
  width: 10px;
  border-color: #FFFFFF;
  top: 106%;
  left: 0;
  transition: all 1s;
}
.call-back__form input[type=checkbox]:hover {
  transform: scale(1.5);
}
.call-back__form label {
  position: absolute;
  top: 106%;
  left: 7%;
  font-size: 10px;
  line-height: 12px;
  transition: all 1s;
}
.call-back__form label:hover {
  transform: scale(1.1);
}

.button__call-back {
  height: 48px;
  border: 1px solid #FFCC00;
  background: #FFCC00;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  padding-right: 25px;
  margin-top: 10px;
  transition: all 1s;
}
.button__call-back:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px #f1ff1d;
  color: #008DCD;
}

.feedback {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}
.feedback__h2 {
  transition: all 1s;
}
.feedback__h2:hover {
  transform: scale(1.2) rotateX(360deg) translateX(65px);
  color: #008DCD;
}
.feedback__slider {
  position: relative;
}

.slider {
  transition: all 2s;
}
.slider:hover {
  transform: scale(1.1);
}
.slider__top {
  display: flex;
  flex-direction: row;
}

.arrow__left {
  position: absolute;
  top: 50%;
  left: 0;
}
.arrow__right {
  position: absolute;
  top: 50%;
  right: 0;
}

.advantages {
  background: #F7F7F7;
}
.advantages__h2 {
  transition: all 1s;
}
.advantages__h2:hover {
  transform: scale(1.2) rotateX(360deg) translateX(65px);
  color: #008DCD;
}
.advantages__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages__block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FFFFFF;
}
.advantages .container__block {
  text-align: center;
  transition: all 2s;
}
.advantages .container__block:hover {
  transform: scale(1.25);
  color: #008DCD;
}

.guarantee__h1 {
  transition: all 1s;
}
.guarantee__h1:hover {
  transform: scale(1.2) rotateX(360deg) translateX(65px);
  color: #008DCD;
}
.guarantee__main {
  display: flex;
}
.guarantee__img {
  width: 50%;
  transition: all 1s;
}
.guarantee__img:hover {
  transform: scale(1.3) rotateX(360deg);
}
.guarantee__h3 {
  transition: all 1s;
}
.guarantee__h3:hover {
  transform: scale(1.1);
}
.guarantee__text {
  transition: all 1s;
}
.guarantee__text:hover {
  transform: scale(1.1);
}

.guarantee__circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #F7F7F7;
}

.doubts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #D2ECF7;
}
.doubts__h2 {
  transition: all 1s;
}
.doubts__h2:hover {
  transform: scale(1.2) rotateX(360deg) translateX(65px);
  color: #008DCD;
}
.doubts__block {
  background: #FFFFFF;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: all 1s;
}
.doubts__block:hover {
  transform: scale(1.05);
}
.doubts__main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.doubts__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.doubts___img {
  width: 10px;
}

.logistics__img {
  transition: all 1s;
}
.logistics__img:hover {
  transform: scale(1.5) rotateY(360deg);
  color: #008DCD;
}
.logistics__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  background: #E9E9E9;
  border-bottom: 1px solid #C4C4C4;
}
.footer__h2 {
  transition: all 1s;
}
.footer__h2:hover {
  transform: scale(1.2) rotateX(360deg);
  color: #008DCD;
}
.footer__form {
  position: relative;
}
.footer__phone {
  border-radius: 30px;
  border: 1px solid #363636;
  height: 48px;
  padding: 0 25px;
  font-size: 16px;
  background: #E9E9E9;
  transition: all 0.7s;
}
.footer__phone:hover {
  transform: scale(1.1);
  color: #008DCD;
}
.footer__phone::placeholder {
  color: #363636;
  font-size: 14px;
}

.footer_nav {
  background: #E9E9E9;
}

.menu__footer a {
  color: #000000;
}

.header__bot {
  display: flex;
  align-items: center;
}

.copy {
  background: #E9E9E9;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    margin-bottom: 250px;
  }

  .menu {
    padding: 15px 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #FFFFFF;
  }
  .menu__link {
    color: black;
  }
  .menu__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .social__link {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    color: #FFFFFF;
    background: #008DCD;
    text-decoration: none;
  }

  .nav {
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.5s;
    width: 100%;
    height: 100vh;
    z-index: 2;
  }

  .footer_menu {
    background: #FFFFFF;
    border-bottom: none;
  }

  .button {
    padding-right: 25px;
    text-align: right;
  }

  .send-box {
    position: absolute;
    top: 105%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .send-box__h2 {
    font-size: 32px;
    line-height: 38px;
    width: 280px;
  }
  .send-box__h3 {
    font-size: 24px;
  }

  .aggregator {
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 27px;
  }
  .aggregator__img {
    height: 131px;
  }

  .content__h3 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .content__text {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
  }

  .steps {
    padding-bottom: 25px;
  }

  .container_block {
    margin-top: 30px;
  }

  .block__img {
    width: 276px;
  }

  .steps__text-h3 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .steps__text-p {
    font-size: 14px;
    line-height: 17px;
  }

  .care__h3 {
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 13px;
  }

  .call-back {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .call-back__h2 {
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .call-back__text {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  .call-back__phone {
    width: 248px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
  }
  .call-back__phone::placeholder {
    font-size: 16px;
    padding-left: 10px;
  }

  .button__call-back {
    width: 280px;
    height: 48px;
    font-size: 16px;
    text-align: right;
    padding-right: 25px;
    margin-top: 10px;
  }

  .feedback__h2 {
    font-size: 28px;
  }
  .feedback__slider {
    padding-right: 25px;
    padding-left: 25px;
  }

  .slider__hidden {
    display: none;
  }
  .slider__top {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
  }
  .slider__header {
    width: 110px;
  }
  .slider__img {
    width: 100px;
    height: 100px;
  }
  .slider__header {
    width: 110px;
  }
  .slider__header_name {
    font-size: 26px;
    margin-bottom: 3px;
  }
  .slider__header_type {
    font-size: 18px;
    line-height: 26px;
  }
  .slider__header_option {
    font-size: 10px;
    line-height: 15px;
  }
  .slider__text {
    font-size: 13px;
    line-height: 17px;
  }

  .advantages {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .advantages__h2 {
    font-size: 26px;
  }
  .advantages__block {
    width: 86px;
    height: 86px;
    margin-top: 25px;
  }
  .advantages__p {
    margin-top: 8px;
    font-size: 10px;
    line-height: 12px;
  }

  .container__block {
    width: 86px;
  }

  .guarantee {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .guarantee__h1 {
    font-size: 26px;
  }
  .guarantee__main {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .guarantee__block {
    margin-top: 20px;
  }
  .guarantee__header {
    display: flex;
    justify-content: space-between;
  }
  .guarantee__img {
    width: 50%;
  }
  .guarantee__circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .guarantee__h3 {
    display: flex;
    align-items: center;
    width: 160px;
    font-size: 16px;
  }
  .guarantee__text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
  }

  .button_short {
    width: 230px;
  }

  .doubts {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .doubts__h2 {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
  }
  .doubts__main {
    height: 530px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .doubts__block {
    padding: 0 25px;
    width: 230px;
    height: 80px;
  }
  .doubts__text {
    width: 210px;
    font-size: 14px;
    line-height: 18px;
  }

  .logistics {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .logistics__block {
    padding: 0 20px;
  }
  .logistics__img {
    margin-top: 15px;
    width: 66px;
  }

  .footer {
    padding-top: 15px;
    padding-bottom: 45px;
    min-height: 180px;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 110px;
    margin-bottom: 30px;
  }
  .footer__form input[type=checkbox] {
    position: absolute;
    top: 110%;
  }
  .footer__form label {
    position: absolute;
    font-size: 10px;
    color: #9E9E9E;
    top: 110%;
    left: 8%;
  }
  .footer__h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__h2_menu {
    margin-bottom: 15px;
  }
  .footer__phone {
    width: 228px;
  }
  .footer .button {
    padding-right: 0;
    text-align: center;
  }

  .footer_nav {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C4C4C4;
  }

  .logo__footer {
    width: 140px;
    height: 57px;
  }

  .menu__link_bot {
    padding: 0;
  }

  .copy {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 10px;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .center {
    padding: 0 calc(50% - 350px);
  }

  .header {
    padding-top: 30px;
  }
  .header__switcher, .header__open, .header__close {
    display: none;
  }

  .nav {
    right: 0;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: bounceInRight 2s linear both;
  }
  .menu__link {
    font-size: 14px;
    line-height: 17px;
    padding: 8px 14px;
  }
  .menu__link_bot {
    color: black;
  }

  .logo {
    animation: bounceInLeft 2s linear both;
  }

  .menu__logo {
    display: none;
  }

  .footer_menu {
    display: none;
  }

  .send-box {
    width: 400px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 0;
    margin-top: 55px;
    color: #FFFFFF;
  }
  .send-box__h2 {
    font-size: 44px;
    line-height: 53px;
  }
  .send-box__h3 {
    font-size: 28px;
  }

  .aggregator {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 35px;
  }
  .aggregator__img {
    width: 380px;
    height: 195px;
  }
  .aggregator__content {
    width: 280px;
  }

  .content__h3 {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 800px;
  }
  .content__text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }

  .button {
    width: 280px;
    text-align: right;
    padding-right: 25px;
  }

  .steps {
    padding-bottom: 55px;
  }
  .steps__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
  }

  .container_block {
    width: 282px;
    margin-top: 45px;
  }

  .block__img {
    width: 281px;
  }

  .steps__text-h3 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .steps__text-p {
    font-size: 15px;
    line-height: 19px;
  }

  .care {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .care__h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .call-back {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 35px;
  }
  .call-back__form {
    width: 280px;
  }
  .call-back__header {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .call-back__h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .call-back__text {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 0;
  }
  .call-back__phone {
    width: 248px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
  }
  .call-back__phone::placeholder {
    font-size: 16px;
    padding-left: 10px;
  }

  .call-back__form input[type=checkbox] {
    top: 107%;
    left: 0;
  }
  .call-back__form label {
    position: absolute;
    top: 107%;
    left: 7%;
  }

  .button__call-back {
    width: 280px;
    padding-right: 25px;
    text-align: right;
  }

  .feedback {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .feedback__hidden {
    display: block;
  }
  .feedback__h2 {
    font-size: 36px;
  }
  .feedback__slider {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }

  .slider {
    width: 280px;
  }
  .slider__top {
    margin: 30px 0 15px 0;
    display: flex;
    justify-content: space-between;
  }
  .slider__header {
    width: 110px;
  }
  .slider__img {
    width: 100px;
    height: 100px;
  }
  .slider__header {
    width: 160px;
  }
  .slider__header_name {
    font-size: 26px;
    margin-bottom: 3px;
  }
  .slider__header_type {
    font-size: 18px;
    line-height: 26px;
  }
  .slider__header_option {
    font-size: 10px;
    line-height: 15px;
  }
  .slider__text {
    font-size: 13px;
    line-height: 17px;
  }

  .advantages {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .advantages__h2 {
    font-size: 34px;
  }
  .advantages__block {
    width: 100px;
    height: 100px;
    margin-top: 35px;
  }
  .advantages__p {
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
  }
  .advantages__img {
    width: 50%;
  }

  .container__block {
    width: 100px;
  }

  .guarantee {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .guarantee__h1 {
    font-size: 36px;
  }
  .guarantee__main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .guarantee__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 218px;
  }
  .guarantee__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .guarantee__img {
    width: 50%;
  }
  .guarantee__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .guarantee__h3 {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
  }
  .guarantee__text {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
  }

  .button_short {
    width: 220px;
  }

  .doubts {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .doubts__h2 {
    margin-bottom: 25px;
    font-size: 34px;
    line-height: 34px;
    text-transform: uppercase;
  }
  .doubts__main {
    height: 350px;
  }
  .doubts__block {
    padding: 0 30px;
    width: 640px;
    height: 50px;
  }
  .doubts__text {
    width: 625px;
    font-size: 16px;
  }

  .logistics {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .logistics__block {
    padding: 0 40px;
  }
  .logistics__img {
    margin-top: 0;
    width: 66px;
  }
  .logistics__hidden {
    display: none;
  }

  .arrow__left {
    display: block;
    top: 33%;
  }
  .arrow__right {
    display: block;
    top: 33%;
  }
  .arrow__hidden {
    display: none;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 0;
    margin-bottom: 0;
  }
  .footer__form input[type=checkbox] {
    position: absolute;
    top: 113%;
  }
  .footer__form label {
    position: absolute;
    font-size: 10px;
    color: #9E9E9E;
    top: 113%;
    left: 4%;
  }
  .footer__h2 {
    font-size: 19px;
    line-height: 20px;
  }
  .footer__phone {
    width: 168px;
  }
  .footer .button {
    padding-right: 0;
    text-align: center;
    width: 220px;
    margin-left: 15px;
  }

  .footer_nav {
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #C4C4C4;
  }

  .header__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo__footer {
    width: 100px;
    height: 30px;
  }

  .menu__link_bot {
    padding: 7px 11px;
  }

  .copy {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
  }
}
@media (min-width: 1440px) {
  .center {
    padding: 0 calc(50% - 580px);
  }

  .button {
    width: 360px;
    padding-right: 0;
    text-align: center;
  }

  .header {
    padding-top: 30px;
    margin-bottom: 0;
  }

  .nav {
    right: 0;
  }

  .logo {
    width: 160px;
    height: 46px;
    animation: bounceInLeft 2s linear both;
  }

  .menu__logo {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: bounceInRight 2s linear both;
  }
  .menu__link {
    font-size: 18px;
    padding: 15px 30px;
  }
  .menu__link_bot {
    color: black;
  }

  .footer_menu {
    display: none;
  }

  .send-box {
    width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 0;
    margin-top: 88px;
    color: #FFFFFF;
  }
  .send-box__h2 {
    font-size: 48px;
    line-height: 58px;
  }
  .send-box__h3 {
    font-size: 36px;
  }

  .aggregator {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 70px;
  }
  .aggregator__img {
    width: 660px;
    height: 340px;
  }
  .aggregator__content {
    width: 440px;
  }

  .content__h3 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 35px;
    width: 460px;
  }
  .content__text {
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 35px;
  }

  .steps {
    padding-bottom: 70px;
  }
  .steps__container {
    padding: 0 50px;
  }

  .container_block {
    width: 462px;
    margin-top: 70px;
  }

  .block__img {
    width: 462px;
  }

  .steps__text-h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .steps__text-p {
    font-size: 19px;
    line-height: 24px;
  }

  .care {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .care__h3 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .call-back {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .call-back__form {
    width: 360px;
  }
  .call-back__header {
    width: 735px;
  }
  .call-back__h2 {
    font-size: 44px;
  }
  .call-back__text {
    font-size: 23px;
    line-height: 25px;
    margin-bottom: 0;
  }
  .call-back__phone {
    width: 328px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
  }
  .call-back__phone::placeholder {
    font-size: 16px;
    padding-left: 10px;
  }

  .call-back__form input[type=checkbox] {
    top: 115%;
    left: 0;
  }
  .call-back__form label {
    position: absolute;
    top: 115%;
    left: 8%;
  }

  .button__call-back {
    width: 360px;
    padding-right: 0;
    text-align: center;
  }

  .feedback {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .feedback__hidden {
    display: block;
  }
  .feedback__h2 {
    font-size: 36px;
  }
  .feedback__slider {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }

  .slider {
    width: 460px;
  }
  .slider__top {
    width: 460px;
    margin: 50px 0 25px 0;
    display: flex;
    justify-content: space-between;
  }
  .slider__img {
    width: 160px;
    height: 160px;
  }
  .slider__header {
    width: 260px;
  }
  .slider__header_name {
    font-size: 36px;
    margin-bottom: 0;
  }
  .slider__header_type {
    font-size: 24px;
    line-height: 42px;
  }
  .slider__header_option {
    font-size: 16px;
    line-height: 27px;
  }
  .slider__text {
    font-size: 16px;
    line-height: 20px;
  }

  .arrow__left {
    height: 30px;
  }
  .arrow__right {
    height: 30px;
  }

  .advantages {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .advantages__h2 {
    font-size: 36px;
  }
  .advantages__block {
    width: 160px;
    height: 160px;
    margin-top: 35px;
  }
  .advantages__p {
    margin-top: 35px;
    font-size: 17px;
    line-height: 22px;
  }
  .advantages__img {
    width: 45%;
  }

  .container__block {
    width: 160px;
  }

  .guarantee {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .guarantee__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    width: 360px;
  }
  .guarantee__circle {
    width: 160px;
    height: 160px;
  }
  .guarantee__h3 {
    font-size: 30px;
    margin-top: 30px;
  }
  .guarantee__text {
    margin-top: 15px;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 20px;
  }

  .button_short {
    width: 360px;
  }

  .arrow__hidden {
    display: none;
  }

  .doubts {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .doubts__h2 {
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 34px;
    text-transform: uppercase;
  }
  .doubts__main {
    height: 230px;
  }
  .doubts__block {
    padding: 0 30px;
    width: 500px;
    height: 64px;
  }
  .doubts__text {
    width: 480px;
    font-size: 16px;
  }

  .logistics {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .logistics__block {
    padding: 0 75px;
  }
  .logistics__img {
    width: 94px;
  }

  .arrow__left {
    top: 40%;
    height: 20px;
  }
  .arrow__right {
    top: 40%;
    height: 20px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__phone {
    padding: 0 30px;
    font-size: 18px;
  }
  .footer__form label {
    left: 2.5%;
  }
  .footer__h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .footer__phone {
    width: 298px;
  }
  .footer .button {
    padding-right: 0;
    text-align: center;
    width: 360px;
    margin-left: 15px;
  }

  .footer_nav {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
  }

  .logo__footer {
    width: 160px;
    height: 48px;
  }

  .copy {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
  }
}

/*# sourceMappingURL=style.css.map */
